flask~=3.0.3
# redis==3.2.1
rq==1.13.0
rq-dashboard~=0.7.1.2
rq-scheduler==0.13.0
psycopg2~=2.9.9
ckanext-hdx_service_checker==0.0.8
mixpanel~=4.10.1
markdown==3.4.1

# Fixing MarkupSafe version because of https://github.com/pallets/markupsafe/issues/284
markupsafe==3.0.1
requests

# Werkzeug<3.0.0

# future

python-json-logger~=2.0.7
git+https://github.com/OCHA-DAP/hdx-redis-lib.git@0.2.1

