flask==2.1.2
# redis==3.2.1
rq==1.10.1
rq-dashboard==0.6.1
rq-scheduler==0.11.0
psycopg2==2.8.5
ckanext-hdx_service_checker==0.0.8
mixpanel==4.3.1

# Fixing MarkupSafe version because of https://github.com/pallets/markupsafe/issues/284
markupsafe==2.1.1
requests

future
